.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;
  margin-right: 2rem;

  // only direct children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    transition: all .8s;
    box-shadow: $shadow-dark-2;
    border-radius: 50%;
    // display: inline-block;
    width: 40px;
    height: 40px;
    margin: .5rem;
  }

  & > *:hover {
    background-color: $color-grey-light-2;
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    position: absolute;
    top:.8rem;
    left: .8rem;
    height:2.5rem;
    width: 2.5rem;
    fill: $color-grey-dark-2; 
  }

  &__icon2 {
    position: absolute;
    top:.5rem;
    left: .5rem;
    height: 2.8rem;
    width: 2.8rem;
  }
}

.video {
  position: relative;
  
  &__container {
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: .9;
   overflow: hidden;


    &__content {
    object-position: 50% 50%;
    object-fit: cover;
    background-position: center;
    filter: blur(0);
    height: 100%;
    width: 100%;
    transition: filter .35s ease-in-out,-webkit-filter .35s ease-in-out;
    }
  }

  &__heading {
    padding: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;

    @media only screen and(max-width: $bp-small) {
      padding:5rem 2rem;
    }
   
  }

  &__author {
    font-size: 1.6rem;
  }
}

