.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  // only direct children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: $color-grey-light-2;
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-grey-dark-2;
  }
}

.video {
  position: relative;
  
  &__container {
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: .4;
   overflow: hidden;

    &__content {
    object-position: 50% 50%;
    object-fit: cover;
    background-position: center;
    filter: blur(0);
    height: 100%;
    width: 100%;
    transition: filter .35s ease-in-out,-webkit-filter .35s ease-in-out;
    }
  }

  &__heading {
    padding: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: $color-grey-dark-2;

    @media only screen and(max-width: $bp-small) {
      padding:5rem 2rem;
    }
   
  }

  &__author {
    font-size: 1.6rem;
  }
}

